body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



#nav{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 60px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: orange;
    opacity: 1;
}

#navlinks{
    color: white;
    font-family: "Arial";
    font-size: 24px;
    list-style: none;
    display: flex;
}
li{
    color: black;
    font-family: "Arial";
    font-size: 24px;
    list-style: none;
    margin-left: 30px;
}

#logo{
    height: 60px;
}

#bottone-accedi{
    height: 40px;
    margin-left: auto;
}

.search{
    align-items: center;
}

#searchbar {
    margin-left: 20px;
    padding: 10px;
    font-size: 17px;
    float: left;
    width: calc(80% - 40px); /* Calcola la larghezza lasciando spazio per il bottone */
    background: #f1f1f1;
    height: 35px; /* Altezza uniforme */
    box-sizing: border-box;
    border-radius: 30px 0 0 30px ;
    
}

#bottone-cerca {
    width: 40px; /* Larghezza del bottone */
    height: 35px; /* Stessa altezza della casella di ricerca */
    float: left; /* Mantiene il bottone accanto alla casella di ricerca */
    box-sizing: border-box;
    background-color: red; /* Colore di sfondo */ 
    cursor: pointer; /* Cambia il cursore al passaggio */
    border-radius: 0 10px 10px 0; /* Arrotonda solo gli angoli destro */
}

.contenitore { /* Da qui cominciamo a tenere IL CONTENITORE per le immagini */
    width: 1400px;
    padding-left: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
    padding-top: 115px;
    columns: 4;
    column-gap: 30px;
}

.contenitore .box { /* Qui cominciamo effettivamente a come si comporta il sito con le immagini dentro */
    width: 100%;
    margin-bottom: 20px;
    break-inside: avoid;
}
.contenitore img {
    max-width: 100%;
    border-radius: 30px;
    border: 2px solid burlywood;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); /* Aggiunge un'ombra morbida */
}

@media (max-width: 1200px) {
    .contenitore {
        width: calc(100% - 40px); /* Correzione del calc */
        columns: 3;
    }
    
}

@media (max-width: 760px) {
    .contenitore {
        width: calc(100% - 20px);
        columns: 2;
    }
  
}

@media (max-width: 480px) {
    .contenitore {
        width: calc(100% - 20px);
        columns: 1;
    }
    
}